@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #5356ad;
  overflow: hidden;
}

.container {
  background-color: #999ede;
}


.container .btn {
  cursor: pointer;
  color: #fff;
  background-color: #ff73b3;
  opacity: 1;
  transition: all 0.5s;
}

.container .btn:hover {
  opacity: 0.7;
}

.container .btn{
  padding: 10px 15px;
}
