<div 
class="col"><div 
class="card truck-card shadow-sm"><div 
class="card-body">
    <h5 
    class="card-title"> {{load.load_type or 'N/A'}} {{load.load_weight or 'N/A'}} </h5>
    <p 
    class="card-text">
        <strong>PickUp:</strong> {{load.pickup_location  or 'N/A'}} <br>
        <strong>Drop:</strong> {{load.drop_location or 'N/A'}} <br>
        <strong>Cost:</strong> {{load.cost or 'N/A'}}
    <form 
    method="post" 
    action="{{url_for('register.truck')}}">
        <button class="btn btn-primary w-100">book now</button></form>
</div></div></div>