
<div 
class="col"><div 
class="card truck-card shadow-sm"><div 
class="card-body">
    <h5 
    class="card-title"> {{truck.vehicle_model_name or 'Model' }} {{truck.vehicle_type or 'Type' }} </h5>
    <p 
    class="card-text">
        <strong>capacity:</strong> {{ truck.vehicle_capacity or 'N/A'}} tons <br>
        <strong>current location:</strong> {{ truck.current_location or 'N/A'}} <br>
    <form 
    method="get" 
    action="{{ url_for('register.load') }}">
        <button class="btn btn-primary w-100">book now</button></form>
</div></div></div>