{% extends 'base_page.html' %}

{% block head %}
    <style>
        .truck-card{
            border-radius: 15px;
            transition: transform 0.2s ease-in-out;
        }
        .truck-card:hover{
            transform: scale(1.02);
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container py-6 table-responsive">
        <div class="container py-5">
            {% if booking_type == 'truck' %}
                <h2 class="mb-4 text-center">Available Trucks for booking</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for item in list_compatible %}
                        {% set truck = item %}
                        {% include 'truck_capsule.html' %}
                    {% endfor %}
            </div>
            {% else %}
                <h2 class="mb-4 text-center">Available Trucks for booking</h2>
            {% endif %}
        </div>

        <table class="table table-light table-hover table-striped">
            <thead>
                <tr>
                    <th>Truck RTO Number</th>
                    <th>Truck Type</th>
                    <th>Capacity</th>
                    <th>Current Location</th>
                    <th>Is Verified</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for truck in list_compatible %}
                <tr>
                    <td>{{ truck.registration_number }}</td>
                    <td>{{ truck.type }}</td>
                    <td>{{ truck.capacity }}</td>
                    <td>{{ truck.current_location }}</td>
                    <td>{{ 'Yes' if truck.is_verified else 'No' }}</td>
                    <td>{{ 'Available' if truck.is_available else 'Not Available' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}