{% extends 'base_page.html' %}
{% block body %}
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=G_API_KEY&libraries=places"></script> -->
    <h2>Welcome, {{current_user.fullname}} Email:{{current_user.email}}</h2>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 form-card">

                <div class="text-center mb-4">
                    <button class="btn btn-outline-light me-2" onclick="location.href='/dashboard?adding=truck'">Register Truck</button>
                    <button class="btn btn-outline-light" onclick="location.href='/dashboard?adding=material'">Schedule Material</button>
                </div>

            {% if adding_type == 'truck' %}
                <form method="post" class="bg-white p-4 rounded shadow">
                    <h4 class="text-center mb-3">Register Your Truck</h4>
                    {{ truck_form.hidden_tag() }}
                    <div class="mb-3">
                        {{ truck_form.truck_name(class_="form-control", placeholder="Truck Owner Name") }}
                    </div>
                    <div class="mb-3">
                        {{ truck_form.truck_registration_number(class_="form-control", placeholder="XX88 XY8888") }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ truck_form.availability(class_="form-check-input") }}
                        <label for="{{ truck_form.availability.id }}" class="form-check-label">Currently Available</label>
                    </div>
                    <div class="d-grid">
                        {{ truck_form.submit(class_="btn btn-primary") }}
                    </div>
                </form>
                
            {% elif adding_type == 'material' %}
                <form method="post" class="bg-white p-4 rounded shadow">
                    <h4 class="text-center mb-3">Schedule Your Material</h4>
                    {{ material_form.hidden_tag() }}
                    <div class="mb-3">
                        {{ material_form.load_name(class_="form-control", placeholder="Material Owner Name") }}
                    </div>
                    <div class="mb-3">
                        {{ material_form.pickup_address(class_="form-control", placeholder="Material Pickup Address", id="pickup") }}
                    </div>
                    <div class="mb-3">
                        {{ material_form.drop_address(class_="form-control", placeholder="Material Drop off Address", id="drop") }}
                    </div>
                    <div class="d-grid">
                        {{ material_form.submit(class_="btn btn-primary") }}
                    </div>
                </form>
                
            {% endif %}
            </div>
        </div>
        <h2>Trucks</h2>
        <table class="table table-dark table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Owner</th>
                    <th scope="col">RTO Number</th>
                    <th scope="col">Availability</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for truck in trucks %}
                <tr>
                    <td>{{ truck.truck_name }}</td>
                    <td>{{ truck.truck_details }}</td>
                    <!-- <td>{{ truck.truck_registration_number }}</td> -->
                    <td><div>
                    {% if truck.availability %}
                        <input type="checkbox" class="form-check-input" checked disabled>
                    {% else %}
                        <input type="checkbox" class="form-check-input" disabled>
                    {% endif %}
                    </div></td>
                    <!-- <td>{{ truck.availability }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script>
//   function initAutocomplete() {
//     new google.maps.places.Autocomplete(
//       document.getElementById('pickup'),
//       { types: ['geocode'] }
//     );
//     new google.maps.places.Autocomplete(
//       document.getElementById('drop'),
//       { types: ['geocode'] }
//     );
//   }

//   google.maps.event.addDomListener(window, 'load', initAutocomplete);
</script>
{% endblock body %}