{% extends 'base_page.html' %}

{% block head %}
    <title>Vahana Mitra - Simplifying Transport</title>
{% endblock head %}

{% block body %} 
    <section class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Simplifying Transport Logistics Across India</h1>
            <p class="lead mt-3">A lightweight, easy-to-use platform connecting lorry owners, brokers, and businesses to move goods efficiently across cities and states.</p>
            <a href="#book-lorry" class="btn btn-light btn-lg mt-4"> 🚚Book a Lorry</a>
            <a href="#book-material" class="btn btn-outline-light btn-lg mt-4 ms-2">📦Book a Material</a>
        </div>
    </section>

<!-- easy to fill form to attract the user to our site than tell the user to signup or login  -->
    <section id="book-lorry" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-3"> 🚛 Book a Lorry</h2>
            <p>Enter your trip and lorry requirements. We'll match you with available lorries nearby.</p>
            <form method="post" class="p-4 bg-light rounded shadow">
                {{ truck_request_form.hidden_tag() }}
                <div class="row g-3 align-items-center">
                    <div class="col-md-6">
                        <label class="form-label">Pickup Location</label>
                        {{ truck_request_form.pickup_location(class_="form-control", placeholder="Vijayawada, Andhra Pradesh")}}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Drop Location</label>
                        {{ truck_request_form.drop_location(class_="form-control", placeholder="Hyderabad, Telangana") }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Type of truck</label>
                        {{ truck_request_form.truck_type(class_="form-control", placeholder="Cement, Grains, Steel, etc.") }}
                    </div>
                    <div class="col-md-4">
                        <div class="col-auto"><label class="col-form-label">Estimated Weight</label></div>
                        <div class="row g-4 align-items-center">
                            <div class="col-auto">{{ truck_request_form.estimated_weight(class_="form-control", placeholder="5")}}</div>
                            <div class="col-auto"><span id="weightHelpInline" class="form-text">Tons</span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        {{ truck_request_form.submit(class_="btn btn-primary")}}
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="book-material" class="py-5">
        <div class="container">
            <h2 class="mb-3">📦 Book a Material to Transport</h2>
            <p>Got an empty lorry? Register here to find matching loads for your route.</p>
            <form method="post" class="p-4 bg-light rounded shadow ">
                {{ material_request_form.hidden_tag() }}
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Available From Location</label>
                        {{ material_request_form.current_location(class="form-control", placeholder="Guntur, Andhra Pradesh") }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Destination Preference</label>
                        {{material_request_form.destination_location(class="form-control", placeholder="Chennai, Tamil Nadu")}}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Type of Lorry</label>
                        {{material_request_form.truck_type(class="form-select")}}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Max Load Capacity (tons)</label>
                        {{material_request_form.capacity(class="form-control")}}
                    </div>
                    <div class="col-12">
                        {{material_request_form.submit(class="btn btn-primary")}}
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock body %}