{% extends 'base_page.html' %}

{% block body %}
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 form-card">

            <div class="text-center mb-4">
                <button class="btn btn-outline-light me-2" onclick="location.href='/dashboard?adding=truck'">Register Truck</button>
                <button class="btn btn-outline-light" onclick="location.href='/dashboard?adding=material'">Schedule Material</button>
            </div>

            <form method="post" class="bg-white p-4 rounded shadow">
                <h4 class="text-center mb-3">Register Your Truck</h4>
                {{ form.hidden_tag() }}
                {% for form_item in form %}
                    <div class="mb-3">
                        {{ form_item.label(class="form-label") }}
                        {{ form_item(class="form-control") }}
                        {% if form_item.errors %}
                            <div class="text-danger">
                                {% for error in form_item.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock body %}