{% if adding == 'truck' %}
    <div
    class="row justify-content-center">
        <div
        class="col form-card">
            <form 
            method="POST"
            class="bg-light p-4">
                {{truck_registration_form.hidden_tag()}}
                <div
                class="row g-3 align-items-center">
                    <div
                    class="col-12 container rounded shadow py-3">
                        <div
                        class="row g-3 align-items-center">
                            <h3>User to add Truck to </h3>
                            <div
                            class="col-md-4">{{ material_registration_form.user_fullname(class="form-control", placeholder="USERNAME") }}</div>
                            <div
                            class="col-md-4">{{ material_registration_form.user_phone(class="form-control", placeholder="PHONE NUMBER") }}</div>
                            <div
                            class="col-md-4">{{ material_registration_form.user_email(class="form-control", placeholder="EMAIL") }}</div></div></div>
                    <div
                    class="col-md-6">
                        <label
                        class="form-label">Current Location</label>
                        {{ truck_registration_form.current_location(class="form-control") }}</div>
                    <div
                    class="col-md-6">
                        <label
                        class="form-label">Trucks Model</label>
                        {{ truck_registration_form.model(class="form-control") }}</div>
                    <div
                    class="col-md-4">
                        <label
                        class="form-label">Truck RTO Number</label>
                        {{ truck_registration_form.registration_number(class="form-control") }}</div>
                    <div
                    class="col-md-4">
                        <label
                        class="form-label">Truck Type</label>
                        {{ truck_registration_form.type(class="form-control") }}</div>
                    <div
                    class="col-md-4">
                        <label 
                        class="form-label">Truck Capacity</label>
                        <div
                        class="input-group">
                            {{ truck_registration_form.capacity(class="form-control") }}
                            <span
                            class="input-group-text">Tons</span></div></div>
                    <div
                    class="col-12 container rounded shadow py-3">
                        <div
                        class="row g-3 align-items-center">
                            <h3>Truck owner information </h3>
                            <div
                            class="col-md-6">
                                <label
                                class="form-label">Owners Name</label>
                                {{ truck_registration_form.owner_name(class="form-control") }}</div>
                            <div
                            class="col-md-6">
                                <label 
                                class="form-label">Owner Contact Number</label>
                                {{ truck_registration_form.owner_phone(class="form-control") }}</div>
                            <div
                            class="col-md-6">
                                <label 
                                class="form-label">Aadhaar number</label>
                                {{ truck_registration_form.owner_aadhaar(class="form-control") }}</div>
                            <div
                            class="col-md-6">
                                <label 
                                class="form-label">PAN number</label>
                                {{ truck_registration_form.owner_pan(class="form-control") }}</div>
                            <div
                            class="col-md-12">
                                <label 
                                class="form-label">TOS</label>
                                {{ truck_registration_form.owner_tos(class="form-control") }}</div></div></div>
                    <div
                    class="col">{{ truck_registration_form.submit(class="btn btn-primary") }}</div>
                </div></form></div></div>
{% elif adding == 'material' %}
    <div
    class="row justify-content-center">
        <div
        class="col form-card">
            <form 
            method="POST"
            class="bg-light p-4">
                {{material_registration_form.hidden_tag()}}
                <div
                class="row g-3 align-items-center">
                    <div
                    class="col-12 container rounded shadow py-3">
                        <div
                        class="row g-3 align-items-center">
                            <h3>User to add Material to </h3>
                            <div
                            class="col-md-4">{{ material_registration_form.user_fullname(class="form-control", placeholder="USERNAME") }}</div>
                            <div
                            class="col-md-4">{{ material_registration_form.user_phone(class="form-control", placeholder="PHONE NUMBER") }}</div>
                            <div
                            class="col-md-4">{{ material_registration_form.user_email(class="form-control", placeholder="EMAIL") }}</div></div></div>
                    <div
                    class="col-md-6">
                        <label
                        class="form-label">PickUp Location</label>
                        {{ material_registration_form.pickup_location(class="form-control") }}</div>
                    <div
                    class="col-md-6">
                        <label
                        class="form-label">Drop Location</label>
                        {{ material_registration_form.drop_location(class="form-control") }}</div>
                    <div
                    class="col-md-3">
                        <label
                        class="form-label">PickUp Date</label>
                        {{ material_registration_form.pickup_date(class="form-control") }}</div>
                    <div
                    class="col-md-3">
                        <label
                        class="form-label">PickUp Contacts 
                            <button
                            type="button"
                            class="btn btn-secondary"
                            onclick="autoFill_user()">Same as User</button></label>
                        {{ material_registration_form.pickup_contact_name(class="form-control", placeholder="Name") }}
                        {{ material_registration_form.pickup_contact_phone(class="form-control", placeholder="Phone Number")}}</div>
                    <div
                    class="col-md-3">
                        <label
                        class="form-label">Drop Date</label>
                        {{ material_registration_form.drop_date(class="form-control") }}</div>
                    <div
                    class="col-md-3">
                        <label
                        class="form-label">Drop Contacts</label>
                        {{ material_registration_form.drop_contact_name(class="form-control", placeholder="Name") }}
                        {{ material_registration_form.drop_contact_phone(class="form-control", placeholder="Phone Number")}}</div>
                    <div
                    class="col-md-4">
                        <label
                        class="form-label">Estimated material weight</label>
                        {{ material_registration_form.estimated_weight(class="form-control") }}</div>
                    <div
                    class="col-md-4">
                        <label
                        class="form-label">Type of truck </label>
                        {{ material_registration_form.truck_type(class="form-control") }}</div>
                    <div
                    class="col-md-4">
                        <label
                        class="form-label">Type of Materials in load </label>
                        {{ material_registration_form.material_type(class="form-control") }}</div>
                    <div
                    class="col-12">
                        <label
                        class="form-label">Material description</label>
                        {{ material_registration_form.material_details(class="form-control") }}</div>
                    <div
                    class="col-12">
                        {{ material_registration_form.submit(class="btn btn-primary") }}</div>
                    
            </div></form></div></div>
<script>
    function autoFill_user(){
        document.getElementById("{{ material_registration_form.pickup_contact_name.id }}").value = document.getElementById("{{ material_registration_form.user_fullname.id }}").value;
        document.getElementById("{{ material_registration_form.pickup_contact_phone.id }}").value = document.getElementById("{{ material_registration_form.user_phone.id }}").value
    }
</script>
{% endif %}
