{% extends 'base_page.html' %}

{% block style %}
    <link rel="stylesheet" href="/app/static/css/styles.css"> 
{% endblock style %}

{% block body %}
     <div
     class="main_suggestions-1">
<div class="rectangle-7-3"></div>
<img src="images/image-2-4.png" class="image-2-4" alt="image-2" />
<div class="main-menu-5">
<div class="frame-1-6">
<p class="text-7"><span class="text-black">Home</span></p>
<p class="text-8"><span class="text-black">Dashboard</span></p>
<p class="text-9"><span class="text-black">status</span></p>
<p class="text-10"><span class="text-black">Material booking</span></p>
</div>
<p class="text-11"><span class="text-black">Vahana Mitra </span></p>
<div class="frame-4-12">
<div class="devicon-facebook-13">
<img src="images/vector-14.svg" class="vector-14" alt="vector" />
<img src="images/vector-15.svg" class="vector-15" alt="vector" />
</div>
<div class="node-16">
<div class="group-17">
<img src="images/vector-18.svg" class="vector-18" alt="vector" />
<img src="images/vector-19.svg" class="vector-19" alt="vector" />
<img src="images/vector-20.svg" class="vector-20" alt="vector" />
</div>
</div>
</div>
</div>
<div class="frame-3-21">
<p class="text-22"><span class="text-black">Book Truck Transport</span></p>
<div class="frame-14-23">
<div class="input-field-24">
<p class="text-25"><span class="text-black">Pickup location</span></p>
</div>
<div class="input-field-26">
<p class="text-27"><span class="text-black">Drop Location</span></p>
</div>
</div>
</div>
</div>
{% endblock body %}