<nav
class="navbar navbar-expand-lg navbar-light bg-light shadow-sm"><div
class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('landing.index') }}">HOME</a>
 
    <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#mainNavbar"
    aria-controls="mainNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
 
    <div
    class="collapse navbar-collapse"
    id="mainNavbar">
        <ul
        class="navbar-nav me-auto mb-2 mb-lg-0">
            <li
            class="nav-item"><a href="{{ url_for('auth.signup') }}" class="nav-link">Register</a></li>
            <li
            class="nav-item"><a href="/" class="nav-link">Dashboard</a></li>
            <li
            class="nav-item"><a href="/" class="nav-link">Status</a></li>
        </ul>
 
        <ul
        class="navbar-nav ms-auto mb-2 md-lg-0">
            {% if current_user.is_authenticated %}
                <li
                class="nav-item"><span class="nav-text">{{ current_user.fullname }}</span></li>
                <li
                class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link text-danger">LOG OUT</a></li>
            {% else %}
                <li
                class="nav-item"><a href="{{ url_for('auth.login')}}" class="nav-link">LOG IN</a></li> 
            {% endif %}
        </ul>
    </div>
</div></nav>